<div class="header clearfix">
    <a href="{% url 'main:index' %}" class="logo"></a>
    <ul class="menu">
        <li><a href="{% url 'main:index' %}"{% if request.resolver_match.url_name == 'index' %}class="active"{% endif %}>домой</a></li>
        <li><a href="{% url 'main:products' %}"{% if request.resolver_match.url_name == 'products' %}class="active"{% endif %}>продукты</a></li>
        <li><a href="{% url 'main:contact' %}"{% if request.resolver_match.url_name == 'contact' %}class="active"{% endif %}>контакты</a></li>
    </ul>
    <a href="#" class="search"></a>
    <a href="#" class="basket"></a>
</div>
